ul.attrs, ul.params {
    border-top: 1px solid darken(@bg-sidebar, 10%);

    .attr, .param {
        padding: 1em 0;
        border-bottom: 1px solid darken(@bg-sidebar, 3%);
        line-height: 1.5em;

        &:last-child {
            border-bottom: none;
        }

        .left, .right {
            display: inline-block;
            width: 49.5%;
            vertical-align: top;
        }

        .left {
            text-align: right;
            font-size: 0.95em;
            padding-right: 20px;
            line-height: 1.2;
            word-break: break-all;

            > div {
                padding: 0.2em 0;
            }

            .key {
                color: @attr-color;
                font-weight: 600;
            }
            .type {
                color: @attr-type-color;
                font-style: italic;
            }
            .example {
                color: @attr-type-color;
            }
            .required {
                font-size: 0.9em;
                color: @required-color;
                text-transform: uppercase;
            }
            .optional {
                font-size: 0.9em;
                color: @optional-color;
                text-transform: uppercase;
            }
        }
    }

    .show-child-attr {
    	color: @link-color;
        cursor: pointer;
    	padding: 6px 0;
    }

    .child-attr {
        border-radius: 5px;

        .attrs {
            display: none;
            border-top: none;
        }

        > .show-child-attr .expand {
            display: block;
            cursor: pointer;
        }

        > .show-child-attr .close {
            display: none;
            cursor: pointer;
        }

        &.show {
            background-color: @bg-sidebar;

            .attrs {
                display: block;
            }

            > .show-child-attr .expand {
                display: none;
            }

            > .show-child-attr .close {
                display: block;
            }
        }
    }
}
