@link-color: #0095dd;
@link-active-color: #0095dd;
@link-hover-color: @link-active-color;

@lhs-heading-color: #292e31;
@rhs-heading-color: #526269;
@lang-active-color: #45f945;

@bg-light: #FFFFFF;
@bg-dark: #2D3134;
@bg-code: #272b2d;
@bg-sidebar: #fafafa;

@header-height: 50px;
@sidebar-width: 250px;

/* Content column padding */
@column-padding: 0 40px 40px;

/* Attribute colors */
@required-color: #e66e33;
@optional-color: @required-color;
@attr-color: #000;
@attr-type-color: #7e929a;

/* Status code */
@status-code-bg: #526269;
@status-code-padding: 3px 6px;
@status-code-radius: 3px;
@status-code-size: inherit;
