@import '_vars';
@import '_left';
@import '_right';

* {
	outline: none;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    transition: linear left 0.1s;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    color: #272b2d;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	list-style: none;
}

h2 {
	font-size: 24px;
    font-weight: 400;
    padding: 10px 0px;
}

mark {
    background: transparent;
    border-radius: 3px;
    color: yellow;
}

pre {
	margin: 0;
}

/**
 * Content wrapper
 */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

    > header {
    	display: block;
        width: 100%;
        height: @header-height;
        border-bottom: 1px solid #f6f6f6;
        padding: 8px 20px;
        font-size: 22px;

        h1 {
            font-size: 22px;
            margin: 0;

            span {
                font-weight: 300;
            }
        }
    }
}

.content {
    display: flex;
    flex: 1;
    position: relative;

    > .sidebar {
    	font-family: 'Open Sans', sans-serif;
    	font-weight: 400;
        width: @sidebar-width;
    	padding: 20px;
    	padding-top: 45px;
    	background: @sidebar-bg;

        nav {
            .group-header {
            	color: @lhs-header-color;
            	font-weight: 600;
            	font-size: 13px;
            	text-transform: uppercase;
            }

            > ul {
                margin: 0.75em 0 1.25em 0.5em;
            }

            .resource-header {
                > ul{
                	display: none;
                }

                &.expand > ul{
                	display: block;
                }

                &.expand .resource-nav-item {
                	font-weight: 600;
                }
            }

            a.child-nav-item.selected {
            	color: @link-active-color;
            }

            a.child-nav-item:hover {
            	color: @link-hover-color;
            }

            .transition {
            	padding-left: 1em;
            }
        }
    }

    > .columns {
        display: flex;
        flex: 1;
        flex-direction: column;
        position: relative;

        > header {
            width: 100%;
            z-index: 999;
            background: transparent;
            position: relative;

            > .lang-header {
                background: @bg-dark;
                box-shadow: 0 0 1px 0;
                box-sizing: border-box;
                display: block;
                margin-left: 50%;
                padding: 10px 15px;
                width: 100%;

                ul {
                    margin: 0;

                    > li {
                        padding: 3px 12px;
                        margin-right: 8px;
                        border-radius: 3px;
                        cursor: pointer;
                        border: 1px solid darken(@bg-dark, 2%);
                        color: #dde4e8;
                        display: inline-block;

                        &.selected {
                            background: #272b2d;
                            color: @lang-active-color;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        > main {
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            width: 100%;

            > .row {
                display: flex;
                flex: 1;
                flex-direction: row;

                .lhs, .rhs {
                    width: 50%;
                    box-sizing: border-box;
                    padding: @column-padding;
                }

                .lhs {
                    background-color: @bg-light;
                }

                .rhs {
                    color: #dde4e8;
                    background-color: @bg-dark;
                }
            }
        }
    }
}

.header-anchor {
	visibility: hidden;
}
