{%- import 'macros.njk' as macros -%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{{ title | capitalize }} API</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Code+Pro" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" integrity="sha256-akwTLZec/XAFvgYgVH1T5/369lhA2Efr22xzCNl1nHs=" crossorigin="anonymous" />

        <style type="text/css">
            {{ 'less/style.less' | less | safe }}
        </style>
        <style type="text/css">
            {{ css | safe }}
        </style>
    </head>
    <body>
        {% if header %}
            {{ header | safe }}
        {% else %}
            <header>
                <h1>{{ title | capitalize }} <span>API</span></h1>
            </header>
        {% endif %}

        <div class="documentation">
            <div class="top-header">
                <div class="lang-header part-header">
                    <ul>
                        {% for lang in languages %}
                            <li data-lang="{{ lang.hljs }}">{{ lang.displayName }}</li>
                        {% endfor %}
                        <li data-lang="none">None</li>
                    </ul>
                </div>
            </div>

            <div class="sidebar">
                <nav class="sidebar-nav">
                    {# Overview #}
                    <div class="group-header">
                        <a href="#overview">Overview</a>
                    </div>

                    {# Navigation #}
                    {% for group in groups %}
                        {% if group.title %}
                            <div class="group-header">
                                <a href="#{{ group.id }}">{{ group.title }}</a>
                            </div>
                        {% endif %}
                        <ul>
                            {# Resources #}
                            {% for resource in group.content %}
                                <li class="resource-header">
                                    <a href="#{{ resource.id }}" class="resource-nav-item">{{ resource.title }}</a>
                                    <ul>
                                        {# Transitions (actions) #}
                                        {% for transition in resource.content %}
                                            <li class="transition">
                                                <a href="#{{ transition.id }}" class="child-nav-item">
                                                    <span class="child-nav-text">{{ transition.title }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </nav>
            </div>

            <div class="container">
                <div class="doc-body col-12">
                    {# Overview #}
                    <div class="row">
                        <div class="col-6 lhs">
                            <div class="group-heading top" id="overview">{{ title | capitalize }}</div>
                            {% if description %}
                                <div class="description">{{ description.text | safe }}</div>
                            {% endif %}
                        </div>
                    </div>

                    {# Resource groups #}
                    {% for group in groups %}
                        {% if group.title.length %}
                            <div class="row">
                                <div class="col-6 lhs">
                                    <div class="group-heading way-point" id="{{ group.id }}">{{ group.title }}</div>
                                    {% if group.description %}
                                        <div class="description">{{ group.description.text | safe }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-6 rhs"></div>
                            </div>
                        {% endif %}

                        {# Resources #}
                        {% for resource in group.content %}
                            <div class="row">
                                <div class="col-6 lhs">
                                    <div class="resource-heading way-point" id="{{ resource.id }}">{{ resource.title }}</div>
                                    {% if resource.description.text %}
                                        <div class="description">{{ resource.description.text | safe }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-6 rhs"></div>
                            </div>

                            {# Transitions (actions) #}
                            {% for transition in resource.content %}
                                {% if transition.type === 'transition' %}
                                    <div class="row">
                                        {# Left #}
                                        <div class="col-6 lhs">
                                            <div class="transition-heading way-point" id="{{ transition.id }}">{{ transition.title }}</div>
                                            {% if transition.description %}
                                                <div class="description">{{ transition.description.text | safe }}</div>
                                            {% endif %}
                                            {% if transition.xhrContent.urlParameters.length %}
                                                <h5 class="part-heading">URL Parameters</h5>
                                                {{ macros.renderUrlParameters(transition.xhrContent.urlParameters) }}
                                            {% endif %}
                                            {% if transition.xhrContent.attributes.length %}
                                                <h5 class="part-heading">Attributes</h5>
                                                {{ macros.renderAttributes(transition.xhrContent.attributes, dataStructures) }}
                                            {% endif %}
                                        </div>

                                        {# Right #}
                                        <div class="col-6 rhs">
                                            {# Definition #}
                                            <div class="api-definition">
                                                <div class="rhs-heading">Definition</div>
                                                <div class="rhs-highlight code">
                                                    <div class="hljs">
                                                        <span class="hljs-attribute">{{ transition.xhrContent.method }}</span> {{ transition.xhrContent.originalUrl | highlightUrl | safe }}
                                                    </div>
                                                </div>
                                            </div>

                                            {# Request #}
                                            <div class="rhs-heading big">Request</div>

                                            {# Request Headers #}
                                            {% if transition.transaction.request.props.headers.length %}
                                                <div class="headers">
                                                    <div class="rhs-heading">Request Headers</div>
                                                    <div class="rhs-highlight code">
                                                        <div class="hljs">
                                                            {%- for header in transition.transaction.request.props.headers -%}
                                                                <span class="hljs-attribute">{{ header.key.content }}</span>: {{ header.value.content }}
                                                            {%- endfor -%}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {# Request Body #}
                                            {% if transition.transaction.request.body %}
                                                <div class="rhs-heading">Request Body</div>
                                                <div class="rhs-highlight">
                                                    <pre><code>
                                                        {{- transition.transaction.request.body -}}
                                                    </code></pre>
                                                </div>
                                            {% endif %}

                                            {# Request Example #}
                                            {% if transition.snippets %}
                                                <div class="sample-request" style="display: none">
                                                    <div class="rhs-heading">Example Request</div>
                                                    <div class="rhs-highlight">
                                                        {%- for lang in languages -%}
                                                            {%- if transition.snippets[lang.name] -%}
                                                                <pre><code class="{{ lang.hljs }}">
                                                                    {{- transition.snippets[lang.name] -}}
                                                                </code></pre>
                                                            {%- endif -%}
                                                        {% endfor -%}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {# Responses #}
                                            <div class="sample-response">
                                                {% for response in transition.transaction.responses %}
                                                    <div class="rhs-heading big">
                                                        <span>Response&nbsp;</span>
                                                        <span class="status-code">{{ response.props.statusCode }}</span>
                                                    </div>

                                                    {# Headers #}
                                                    {% if response.props.headers.length %}
                                                        <div class="headers">
                                                            <div class="rhs-heading">Response Headers</div>
                                                            <div class="rhs-highlight code">
                                                                <div class="hljs">
                                                                    {% for header in response.props.headers %}
                                                                        <span class="hljs-attribute">{{ header.key.content }}</span>: {{ header.value.content }} {% if not loop.last %}<br />{% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                    {# Body #}
                                                    {% if response.body %}
                                                        <div class="rhs-heading">Response Body</div>
                                                        <div class="rhs-highlight">
                                                            <pre><code>
                                                                {{- response.body -}}
                                                            </code></pre>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% elif transition.type === 'dataStructure' %}
                                    <div class="row">
                                        <div class="col-6 lhs">
                                            <div class="transition-heading way-point" id="{{ transition.id }}">{{ transition.title }}</div>
                                            <h5 class="part-heading">Attributes</h5>
                                            {{ macros.renderAttributes(transition.content[0], dataStructures) }}
                                        </div>
                                        <div class="col-6 rhs"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/http.min.js" integrity="sha256-ze9TA1yfIP6jEh7+8fVq8CxHsydquQNe9O+P05ueO3w=" crossorigin="anonymous"></script>

        <script type="text/javascript">
            hljs.initHighlightingOnLoad();

            /**
             * Set selected navigation item and expand parents (if any)
             * @param {element} clicked navigation element
             */
            function setSelection(el) {
                if ($(el).hasClass('resource-nav-item')) {
                    $('.sidebar .resource-header.expand').removeClass('expand');
                    $(el).parent().addClass('expand');
                } else if ($(el).hasClass('child-nav-item')) {
                    $('.sidebar .child-nav-item.selected').removeClass('selected');
                    $(el).addClass('selected');
                    $(el).parents('.resource-header').addClass('expand');
                } else if ($(el).parent().hasClass('group-header')) {
                    $('.sidebar .resource-header.expand').removeClass('expand');
                    $('.sidebar .child-nav-item.selected').removeClass('selected');
                }
            }

            /**
             * Restore scroll position on (re)load
             */
            function restoreScroll() {
                var lastScroll = sessionStorage && sessionStorage.getItem('lastScroll');

                if (lastScroll) {
                    $('.container').scrollTop(lastScroll);
                    return;
                }

                // Location hash (fix scrolling)
                if (window.location.hash) {
                    var scrollEl = $(window.location.hash);

                    if (scrollEl.length) {
                        // Scroll document container
                        $('.container').scrollTop($(scrollEl).offset().top - headerHeight);

                        // Activate menu element
                        setSelection($('.sidebar a[href=\"' + window.location.hash + '\"]'));
                    }
                }
            }

            $(function() {
                var headerHeight = $('.documentation').offset().top || 50;

                // Child attributes hide/show
                $('.doc-body .show-child-attr > span').on('click', function(e) {
                    var parent = e.target.parentNode.parentNode;

                    if ($(e.target).hasClass('expand') || $(e.target).hasClass('close')) {
                        $(parent).toggleClass('show');
                    }
                });

                // Slidebar click handler
                $('.sidebar a').on('click', function(e) {
                    setSelection(e.target);
                });

                // Language bar click handler
                $('.top-header .lang-header [data-lang]').on('click', function(e) {
                    if ($(e.target).data('lang') === 'none') {
                        $('.sample-request').hide();
                    } else {
                        $('.sample-request').show();
                    }

                    $('.top-header .lang-header [data-lang]').removeClass('selected');
                    $(e.target).addClass('selected');

                    $('.sample-request code').hide();
                    $('.sample-request code[class~="' + $(e.target).data('lang') + '"]').show();

                    sessionStorage && sessionStorage.setItem('exampleLang', $(e.target).data('lang'));
                });

                // Active language on load
                if ($('.top-header .lang-header [data-lang]')) {
                    var lastLang = sessionStorage.getItem('exampleLang');
                    var selected = $('.top-header .lang-header [data-lang="' + lastLang + '"]');

                    if (selected.length === 0) {
                        selected = $('.top-header .lang-header [data-lang]')[0];
                    }

                    if ($(selected).data('lang') == 'none') {
                        $('.sample-request').hide();
                    } else {
                        $('.sample-request').show();
                    }

                    $(selected).addClass('selected');
                    $('.sample-request code').hide();
                    $('.sample-request code[class~="' + $(selected).data('lang') + '"]').show();
                }

                // Waypoints
                $('.way-point[id]').waypoint({
                    continuous: false,
                    context: $('.container'),
                    handler: function(direction) {
                        setSelection($('.sidebar a[href=\"#' + this.element.id + '\"]'));
                    }
                });

                // Restore scroll position
                restoreScroll();

                // Save scroll position
                $(window).on('beforeunload', function(e) {
                    sessionStorage && sessionStorage.setItem('lastScroll', $('.container').scrollTop());
                });
            });
        </script>
    </body>
</html>
