{%- import 'macros.njk' as macros -%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="theme-color" content="#526269">
        <meta name="msapplication-navbutton-color" content="#526269">
        <meta name="apple-mobile-web-app-status-bar-style" content="#526269">

        <title>{{ title | capitalize }} API</title>

        <link rel="icon" href="favicon.ico" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Source+Code+Pro" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" integrity="sha256-akwTLZec/XAFvgYgVH1T5/369lhA2Efr22xzCNl1nHs=" crossorigin="anonymous" />

        <style type="text/css">
            {{ 'less/style.less' | less | safe }}
        </style>
        {% if customCss %}
            <style type="text/css">
                {{ customCss | less | safe }}
            </style>
        {% endif %}
    </head>
    <body>

        <div class="wrapper">
            {% if customHeader %}
                {{ customHeader | safe }}
            {% else %}
                <header>
                    <h1>{{ title | capitalize }} <span>API</span></h1>
                </header>
            {% endif %}

            <section class="content">
                {# Sidebar #}
                <aside class="sidebar">
                    <nav>
                        {# Overview #}
                        <div class="group-heading">
                            <a href="#overview">Overview</a>
                        </div>

                        {# Navigation #}
                        {% for group in groups %}
                            {% if group.title %}
                                <div class="group-heading">
                                    <a href="#{{ group.id }}">{{ group.title }}</a>
                                </div>
                            {% endif %}
                            <ul>
                                {# Resources #}
                                {% for resource in group.content %}
                                    <li class="resource-heading">
                                        <a href="#{{ resource.id }}" class="resource-nav-item">{{ resource.title }}</a>
                                        <ul>
                                            {# Transitions (actions) #}
                                            {% for transition in resource.content %}
                                                <li class="transition">
                                                    <a href="#{{ transition.id }}" class="child-nav-item">
                                                        <span class="child-nav-text">{{ transition.title }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </nav>
                </aside>

                <div class="columns">
                    {# Scrolling top header #}
                    <header>
                        <div class="lang-header">
                            <ul>
                                {% for lang in languages %}
                                    <li data-lang="{{ lang.hljs }}">{{ lang.displayName }}</li>
                                {% endfor %}
                                <li data-lang="none">None</li>
                            </ul>
                        </div>
                    </header>

                    <main>
                        {# Overview #}
                        <div class="row">
                            <div class="lhs">
                                <h1 id="overview">{{ title | capitalize }}</h1>
                                {% if description %}
                                    <div class="description">{{ description.text | safe }}</div>
                                {% endif %}
                            </div>
                            <div class="rhs"></div>
                        </div>

                        {# Resource groups #}
                        {% for group in groups %}
                            {% if group.title.length %}
                                <div class="row">
                                    <div class="lhs">
                                        <h2 class="group-heading waypoint" id="{{ group.id }}">{{ group.title | capitalize }}</h2>
                                        {% if group.description %}
                                            <div class="description">{{ group.description.text | safe }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="rhs"></div>
                                </div>
                            {% endif %}

                            {# Resources #}
                            {% for resource in group.content %}
                                <div class="row">
                                    <div class="lhs">
                                        <h3 class="resource-heading waypoint" id="{{ resource.id }}">{{ resource.title }}</h3>
                                        {% if resource.description.text %}
                                            <div class="description">{{ resource.description.text | safe }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="rhs"></div>
                                </div>

                                {# Transitions (actions) #}
                                {% for transition in resource.content %}
                                    {% if transition.type === 'transition' %}
                                        <div class="row">
                                            {# Left #}
                                            <div class="lhs">
                                                <h4 class="transition-heading waypoint" id="{{ transition.id }}">{{ transition.title }}</h4>
                                                {% if transition.description %}
                                                    <div class="description">{{ transition.description.text | safe }}</div>
                                                {% endif %}
                                                {% if transition.xhrContent.urlParameters.length %}
                                                    <h6 class="part-heading">URL Parameters</h6>
                                                    {{ macros.renderUrlParameters(transition.xhrContent.urlParameters) }}
                                                {% endif %}
                                                {% if transition.xhrContent.attributes.length %}
                                                    <h6 class="part-heading">Attributes</h6>
                                                    {{ macros.renderAttributes(transition.xhrContent.attributes, dataStructures) }}
                                                {% endif %}
                                            </div>

                                            {# Right #}
                                            <div class="rhs">
                                                {# Definition #}
                                                <div class="api-definition">
                                                    <h6 class="rhs-heading">Definition</h6>
                                                    <div class="rhs-highlight code">
                                                        <div class="hljs">
                                                            <span class="hljs-attribute">{{ transition.xhrContent.method }}</span> {{ transition.xhrContent.originalUrl | highlightUrl | safe }}
                                                        </div>
                                                    </div>
                                                </div>

                                                {# Request #}
                                                {% if transition.transaction.request.props.headers.length or transition.transaction.request.body or transition.snippets %}
                                                    <div class="request">
                                                        <h5 class="rhs-heading">Request</h5>

                                                        {# Request Headers #}
                                                        {% if transition.transaction.request.props.headers.length %}
                                                            <div class="headers">
                                                                <h6 class="rhs-heading">Request Headers</h6>
                                                                <div class="rhs-highlight code">
                                                                    <div class="hljs">
                                                                        {%- for header in transition.transaction.request.props.headers -%}
                                                                            <span class="hljs-attribute">{{ header.key.content }}</span>: {{ header.value.content }}
                                                                        {%- endfor -%}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        {# Request Body #}
                                                        {% if transition.transaction.request.body %}
                                                            <h6 class="rhs-heading">Request Body</h6>
                                                            <div class="rhs-highlight">
                                                                <pre><code>
                                                                    {{- transition.transaction.request.body -}}
                                                                </code></pre>
                                                            </div>
                                                        {% endif %}

                                                        {# Request Example #}
                                                        {% if transition.snippets %}
                                                            <div class="sample-request" style="display: none">
                                                                <h6 class="rhs-heading">Example Request</h6>
                                                                <div class="rhs-highlight">
                                                                    {%- for lang in languages -%}
                                                                        {%- if transition.snippets[lang.name] -%}
                                                                            <pre><code class="{{ lang.hljs }}">
                                                                                {{- transition.snippets[lang.name] -}}
                                                                            </code></pre>
                                                                        {%- endif -%}
                                                                    {% endfor -%}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                                {# Responses #}
                                                <div class="sample-response">
                                                    {% for response in transition.transaction.responses %}
                                                        <h5 class="rhs-heading">
                                                            <span>Response&nbsp;</span>
                                                            <span class="status-code">{{ response.props.statusCode }}</span>
                                                        </h5>

                                                        {# Headers #}
                                                        {% if response.props.headers.length %}
                                                            <div class="headers">
                                                                <h6 class="rhs-heading">Response Headers</h6>
                                                                <div class="rhs-highlight code">
                                                                    <div class="hljs">
                                                                        {% for header in response.props.headers %}
                                                                            <span class="hljs-attribute">{{ header.key.content }}</span>: {{ header.value.content }} {% if not loop.last %}<br />{% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        {# Body #}
                                                        {% if response.body %}
                                                            <h6 class="rhs-heading">Response Body</h6>
                                                            <div class="rhs-highlight">
                                                                <pre><code>
                                                                    {{- response.body -}}
                                                                </code></pre>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% elif transition.type === 'dataStructure' %}
                                        <div class="row">
                                            <div class="lhs">
                                                <h4 class="transition-heading waypoint" id="{{ transition.id }}">{{ transition.title }}</h4>
                                                <h6 class="part-heading">Attributes</h6>
                                                {{ macros.renderAttributes(transition.content[0], dataStructures) }}
                                            </div>
                                            <div class="rhs"></div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </main>
                </div>
            </section>

            {% if customFooter %}
                {{ customFooter | safe }}
            {% else %}
                <footer>

                </footer>
            {% endif %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha256-jDnOKIOq2KNsQZTcBTEnsp76FnfMEttF6AV2DF2fFNE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/http.min.js" integrity="sha256-ze9TA1yfIP6jEh7+8fVq8CxHsydquQNe9O+P05ueO3w=" crossorigin="anonymous"></script>

        <script type="text/javascript">
            hljs.initHighlightingOnLoad();

            /**
             * Set selected navigation item and expand parents (if any)
             * @param {element} clicked navigation element
             */
            function setSelection(el) {
                if ($(el).hasClass('resource-nav-item')) {
                    $('.sidebar .resource-heading.expand').removeClass('expand');
                    $(el).parent().addClass('expand');
                } else if ($(el).hasClass('child-nav-item')) {
                    $('.sidebar .child-nav-item.selected').removeClass('selected');
                    $(el).addClass('selected');
                    $(el).parents('.resource-heading').addClass('expand');
                } else if ($(el).parent().hasClass('group-heading')) {
                    $('.sidebar .resource-heading.expand').removeClass('expand');
                    $('.sidebar .child-nav-item.selected').removeClass('selected');
                }
            }

            /**
             * Restore scroll position on (re)load
             */
            function restoreScroll(offset = 0) {
                var lastScroll = sessionStorage && sessionStorage.getItem('lastScroll');

                if (lastScroll) {
                    $('.content > .columns > main').scrollTop(lastScroll);
                    return;
                }

                // Location hash (fix scrolling)
                if (window.location.hash) {
                    var scrollEl = $(window.location.hash);

                    if (scrollEl.length) {
                        // Scroll document container
                        $('.content > .columns > main').scrollTop($(scrollEl).offset().top - offset);

                        // Activate menu element
                        setSelection($('.sidebar a[href=\"' + window.location.hash + '\"]'));
                    }
                }
            }

            $(function() {

                // Child attributes hide/show
                $('.content > .columns > main .show-child-attr span').on('click', function(e) {
                    var parent = $(e.target).parents('.child-attr')[0];

                    if ($(e.target).hasClass('expand') || $(e.target).hasClass('close')) {
                        $(parent).toggleClass('show');
                    }
                });

                // Slidebar click handler
                $('.sidebar a').on('click', function(e) {
                    setSelection(e.target);
                });

                // Language bar click handler
                $('.lang-header [data-lang]').on('click', function(e) {
                    if ($(e.target).data('lang') === 'none') {
                        $('.request .sample-request').hide();
                        $('.request').each(function() {
                            var visible = $(this).children(':not(h5.rhs-heading):visible').length;

                            if (visible === 0) {
                                $(this).hide();
                            }
                        })
                    } else {
                        $('.rhs .request').show();
                        $('.request .sample-request').show();
                    }

                    $('.lang-header [data-lang]').removeClass('selected');
                    $(e.target).addClass('selected');

                    $('.request .sample-request code').hide();
                    $('.request .sample-request code[class~="' + $(e.target).data('lang') + '"]').show();

                    sessionStorage && sessionStorage.setItem('exampleLang', $(e.target).data('lang'));
                });

                // Active language on load
                if ($('.lang-header [data-lang]')) {
                    var lastLang = sessionStorage.getItem('exampleLang');
                    var selected = $('.lang-header [data-lang="' + lastLang + '"]');

                    if (selected.length === 0) {
                        selected = $('.lang-header [data-lang]')[0];
                    }

                    if ($(selected).data('lang') == 'none') {
                        $('.sample-request').hide();
                    } else {
                        $('.sample-request').show();
                    }

                    $(selected).addClass('selected');
                    $('.sample-request code').hide();
                    $('.sample-request code[class~="' + $(selected).data('lang') + '"]').show();
                }

                // Waypoints
                $('.waypoint[id]').waypoint({
                    continuous: false,
                    context: $('.content > .columns > main'),
                    handler: function(direction) {
                        setSelection($('.sidebar a[href=\"#' + this.element.id + '\"]'));
                    }
                });

                // Restore scroll position
                restoreScroll();

                // Save scroll position
                $(window).on('beforeunload', function(e) {
                    sessionStorage && sessionStorage.setItem('lastScroll', $('.content > .columns > main').scrollTop());
                });
            });
        </script>
    </body>
</html>
